<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body >
    <nav class="menu">
    <input checked="checked" class="menu-toggler" type="checkbox">
    <label for="menu-toggler"></label>
    <ul>

    <li class="menu-item">
        <a class ="far" href="useraccount"><svg data-name="Layer 1" id="Layer_1" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#000;}</style></defs><title/><path class="cls-1" d="M109.44214,96.438a4.99561,4.99561,0,1,0,5.00537,4.9956A5.00087,5.00087,0,0,0,109.44214,96.438Z"/><ellipse class="cls-1" cx="147.70239" cy="101.43359" rx="5.00586" ry="4.99561"/><path class="cls-1"
        d="M205.7561,230.20947l-6.75879-29.28076-.07519-.26123a50.84477,50.84477,0,0,0-32.18848-31.4458l-14.9248-4.87933V154.04108a42.83717,42.83717,0,0,0,16.74121-20.53376,2.49042,2.49042,0,0,0,.07587-.24914,42.55326,42.55326,0,0,0,2.79315-13.21692,13.90091,13.90091,0,0,0,.05383-27.37311V69.89685a31.69333,31.69333,0,0,0,17.37891-28.28894,2.50039,2.50039,0,0,0-4.55274-1.42773,16.66466,16.66466,0,0,1-13.67578,7.14648c-4.64844,0-8.46973-2.40381-11.9082-5.001-9.08985-6.86914-20.22559-13.8916-33.88916-13.8916A48.30451,48.30451,0,0,0,76.53,76.6377V98.398a13.87985,13.87985,0,0,0,8.97961,21.64325A42.54618,42.54618,0,0,0,88.558,133.90277c.02069.066.03382.1341.05994.1983a42.878,42.878,0,0,0,16.71777,20.04975v10.17944l-14.918,4.88947A50.84563,50.84563,0,0,0,58.22241,200.668l-.05322.17187-7.90234,29.28077a2.49992,2.49992,0,1,0,4.82714,1.30273L62.97241,202.231a45.7199,45.7199,0,0,1,16.24488-21.73078c3.19671,6.80823,11.694,27.44971,9.25268,50.00275a2.49962,2.49962,0,0,0,2.21631,2.75439,2.43418,2.43418,0,0,0,.272.01465,2.5,2.5,0,0,0,2.48242-2.231c2.67426-24.702-6.75854-46.65033-9.98022-53.28632a45.21445,45.21445,0,0,1,8.50561-3.78107l13.867-4.54492c2.083,9.4707,10.69238,15.56152,22.73944,15.56152,12.04236,0,20.649-6.08624,22.73614-15.55059l13.87909,4.53692a45.168,45.168,0,0,1,8.49714,3.77741c-3.22223,6.635-12.65613,28.58423-9.98053,53.287a2.50037,2.50037,0,0,0,2.48242,2.231,2.44917,2.44917,0,0,0,.27246-.01465,2.49994,2.49994,0,0,0,2.21582-2.75439c-2.43762-22.50891,6.06048-43.18366,9.25506-50.00171A45.72987,45.72987,0,0,1,194.15649,202.188l6.72852,29.14648a2.49963,2.49963,0,0,0,2.43359,1.938,2.52581,2.52581,0,0,0,.56446-.06445A2.50021,2.50021,0,0,0,205.7561,230.20947Zm-67.94189-75.52215q-.73681.18667-1.48523.34289c-.45728.09485-.91785.17938-1.38043.25781q-.65241.11244-1.31165.20307c-.62274.08356-1.24872.1557-1.87958.209q-.381.03278-.764.05817c-.83765.05426-1.67914.09326-2.52869.09326-.84918,0-1.691-.03851-2.529-.09326q-.35467-.02343-.70752-.05389-1.03134-.08652-2.04871-.22766c-.16455-.023-.33148-.03791-.49536-.063l-.02-.0036c-.73053-.111-1.45215-.25232-2.1701-.40442-.36731-.07855-.73212-.16388-1.09546-.25293-.36743-.0893-.73114-.18866-1.09473-.28852a38.15029,38.15029,0,0,1-23.022-18.0744c-.10266-.18426-.20911-.36548-.3089-.55188-.212-.39319-.41486-.79193-.61328-1.1933q-.34214-.69635-.65778-1.4107c-.09125-.20557-.18835-.4079-.27606-.61536l-.01971-1.438c0-8.58789,17.05908-16.707,35.10253-16.707,17.92627,0,34.87452,8.11914,34.87452,16.707a2.49494,2.49494,0,0,0,.06475.54883c.00232.01013.00116.02069.00361.03076l.147.61744c-.05188.125-.10034.25164-.1535.376-.24537.57715-.50812,1.14252-.77875,1.70246q-.35423.72664-.7381,1.436c-.04114.07672-.08411.1521-.12579.22852a38.153,38.153,0,0,1-23.61554,18.46814C138.06238,154.62122,137.939,154.65613,137.81421,154.68732ZM90.90186,123.73389a37.97362,37.97362,0,0,1-.446-5.80744l.03546-7.9964,8.44855,6.8003A25.06079,25.06079,0,0,0,90.90186,123.73389Zm75.571-5.80909a37.95384,37.95384,0,0,1-.47107,5.94849c-.08215-.12176-.15985-.24438-.24615-.36529-.13013-.18226-.2732-.36176-.41272-.54206-.11963-.1546-.234-.3103-.36054-.46344-.149-.18042-.31134-.35779-.46985-.536-.13269-.14923-.25976-.2998-.399-.44745-.1684-.17852-.35041-.35357-.52839-.52978-.14526-.1438-.28448-.28913-.43609-.43128-.1883-.17651-.39044-.3493-.58844-.52325-.15656-.13757-.3067-.2768-.46924-.41266-.20966-.17523-.43359-.34631-.6532-.51868-.1662-.13043-.32556-.26281-.49744-.39154-.23406-.17529-.48266-.34607-.72717-.51819-.17218-.12115-.337-.24462-.51434-.36419-.26917-.18152-.55359-.358-.83447-.53565-.16669-.1054-.32569-.21331-.49646-.31732-.113-.06885-.23389-.135-.3487-.20312l8.45331-6.80127Zm11.44238-11.57421a8.93334,8.93334,0,0,1-6.44238,8.55743V97.79315A8.93336,8.93336,0,0,1,177.91528,106.35059ZM166.4729,103.5545l-13.36029,10.74921a62.83259,62.83259,0,0,0-20.99506-4.73053q-1.80432-.099-3.609-.09955a64.55274,64.55274,0,0,0-24.64257,4.804L90.51965,103.53516,90.595,86.55957c.03064-.30139.072-.599.11243-.897.01727-.1258.02929-.25324.04834-.37848.016-.10663.03772-.21106.055-.31726a26.47072,26.47072,0,0,1,23.27844-21.94238c.04584-.00477.09107-.01148.137-.01606
        .36694-.03692.737-.06256,1.10809-.08429.07825-.00445.15546-.01257.23389-.01642q.66128-.03286,1.33056-.03369a28.69143,28.69143,0,0,1,9.92774,1.917l2.68066.89843c5.56543,1.86524,13.97656,4.68409,18.50781,6.13867a30.70447,30.70447,0,0,0,9.39356,1.42334c.6947,0,1.382-.03094,2.06567-.0758.178-.01172.35529-.02618.53272-.04089.61847-.05115,1.23236-.11768,1.84021-.20453.06732-.00971.13525-.01587.20245-.026.71405-.10682,1.41852-.24207,2.11621-.39655.0719-.016.14337-.03357.21515-.05011.70618-.16162,1.4046-.34357,2.092-.55225Zm-41.647-70.12042c12.15381,0,22.022,6.19092,30.87549,12.88086,4.13183,3.12256,8.7998,6.01172,14.92187,6.01172a21.66576,21.66576,0,0,0,12.34082-3.86084A26.706,26.706,0,0,1,168.1015,65.97308c-.048.01776-.09808.02668-.1452.04743-.31067.13745-.62482.26208-.9389.387-.13471.05316-.26728.11047-.403.1615-.32306.12231-.64868.23486-.9751.34393q-.56039.18558-1.131.34711-.42591.121-.8551.22668c-.47553.11652-.95508.22205-1.44019.3122-.16907.03168-.33783.06518-.50757.09351q-.92349.15279-1.86725.24114c-.13208.01227-.26483.02063-.39721.03089-.67163.05176-1.3479.087-2.03247.087a25.71079,25.71079,0,0,1-7.86524-1.18408c-4.501-1.44482-12.89355-4.25781-18.44726-6.11914l-2.64063-.8833h.00049A33.38825,33.38825,0,0,0,116.89868,57.874c-.53088,0-1.05841.01441-1.58295.04-.09387.0047-.1864.01422-.28009.01972-.4414.02545-.881.05706-1.31744.10034-.052.00525-.10339.01269-.15533.01819A31.24932,31.24932,0,0,0,86.13214,82.783c-.01526.0722-.03235.14355-.04706.21588-.0675.33637-.12549.67633-.18237,1.01685-.033.195-.0697.38873-.09906.585-.03113.21045-.05414.42376-.08118.63574-.04016.31177-.08264.62286-.11358.93744l-.00171.01416-.00128.02472c-.09729,1.00293-.15058,2.01855-.15058,3.04657q0,.47314.01514.93847a2.46692,2.46692,0,0,0,.10553.61176L85.56781,92.651A13.83947,13.83947,0,0,0,81.53,94.01086V76.6377A43.29862,43.29862,0,0,1,124.82593,33.43408Zm-45.812,72.91651a8.93156,8.93156,0,0,1,6.53125-8.58039l-.076,17.14124A8.93279,8.93279,0,0,1,79.01392,106.35059Zm49.55859,73.63964c-8.4126,0-18.23682-3.96826-18.23682-15.15185v-7.95929a42.99786,42.99786,0,0,0,13.60218,3.73315c.13238.01392.26562.02466.39837.0373q.795.07526,1.5968.12158c.17749.01031.35468.02167.53278.02984.66357.03022,1.32922.0506,1.99878.0506.67725,0,1.35016-.02063,2.02087-.05121.16236-.0075.32392-.018.48578-.02734q.85932-.0487,1.71045-.13025c.08966-.00879.17969-.016.26923-.02533a43.013,43.013,0,0,0,13.85791-3.8175v8.03845C146.80884,176.022,136.98462,179.99023,128.57251,179.99023Z"/><path class="cls-1" d="M156.46313,85.64941a15.43449,15.43449,0,0,0-17.52148-.00048,2.50014,2.50014,0,0,0,2.8418,4.11425,10.43513,10.43513,0,0,1,11.83789-.00048,2.49975,2.49975,0,0,0,2.84179-4.11329Z"/><path class="cls-1" d="M118.20288,85.64893a15.43561,15.43561,0,0,0-17.52148,0,2.50014,2.50014,0,0,0,2.84179,4.11425,10.434,10.434,0,0,1,11.83789,0,2.50014,2.50014,0,1,0,2.8418-4.11425Z"/><path class="cls-1" d="M139.02173,126.26611H117.99585a2.5,2.5,0,1,0,0,5h21.02588a2.5,2.5,0,0,0,0-5Z"/><path class="cls-1" d="M139.02173,137.90967H117.99585a2.5,2.5,0,0,0,0,5h21.02588a2.5,2.5,0,0,0,0-5Z"/></svg></a>
    </li>

    <li class="menu-item">
    <a class="fas fa-cookie-bite" href="theoryindex"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="55px" height="64px" viewBox="-3 -12 70 64" enable-background="new 0 0 64 64" xml:space="preserve">
<g>
	<path d="M0,4.863v50.017l32,4.129l32-4.129V4.863L32,8.992L0,4.863z M2,7.137l29,3.742v45.983L2,53.121V7.137z M62,53.121
		l-29,3.742V10.879l9-1.162v18.9l5-2.5l5,2.5V8.428l10-1.291V53.121z M44,9.46l6-0.774v16.696l-3-1.5l-3,1.5V9.46z"/>
	<rect x="6.948" y="16" transform="matrix(0.9945 0.1047 -0.1047 0.9945 1.8703 -1.6339)" width="19.105" height="2"/>
	<rect x="6.948" y="26" transform="matrix(-0.9945 -0.1047 0.1047 -0.9945 30.0829 55.5789)" width="19.105" height="2"/>
	<rect x="6.948" y="36" transform="matrix(-0.9945 -0.1047 0.1047 -0.9945 29.036 75.524)" width="19.105" height="2"/>
	<rect x="6.948" y="46" transform="matrix(-0.9945 -0.1047 0.1047 -0.9945 27.9892 95.4691)" width="19.105" height="2"/>
	<rect x="46.5" y="27.448" transform="matrix(-0.1045 -0.9945 0.9945 -0.1045 15.6654 88.1058)" width="2" height="19.105"/>
	<rect x="46.5" y="37.448" transform="matrix(-0.1045 -0.9945 0.9945 -0.1045 5.7201 99.1507)" width="2" height="19.105"/>
</g>
</svg></a>
    </li>

    <li class="menu-item">
      <a class="fas fa-cookie-bite" href = "matchmakingtest"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">

<g>
	<path d="M50,26H33v-4h14v-9H37v-2h-2v4h10v5H31v6H14C6.28,26,0,32.28,0,40s6.28,14,14,14c4.601,0,8.851-2.232,11.478-6h13.045
		c2.627,3.768,6.877,6,11.478,6c7.72,0,14-6.28,14-14S57.72,26,50,26z M50,52c-4.101,0-7.877-2.071-10.102-5.54L39.604,46H24.396
		l-0.295,0.46C21.877,49.929,18.101,52,14,52C7.383,52,2,46.617,2,40s5.383-12,12-12h36c6.617,0,12,5.383,12,12S56.617,52,50,52z"/>
	<polygon points="15,32 13,32 13,39 6,39 6,41 13,41 13,48 15,48 15,41 22,41 22,39 15,39 	"/>
	<path d="M50,31.99c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S54.411,31.99,50,31.99z M55.911,39H51v-4.919
		C53.511,34.504,55.491,36.488,55.911,39z M49,34.081V39h-4.911C44.509,36.488,46.489,34.504,49,34.081z M44.092,41H49v4.9
		C46.496,45.477,44.519,43.502,44.092,41z M51,45.9V41h4.908C55.481,43.502,53.504,45.477,51,45.9z"/>
</g>
</svg></a>
    </li>

    <li class="menu-item">
      <a class="fas fa-cookie-bite" href = "singlemode"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="55px" height="70px" viewBox="-3 -6 70 64" enable-background="new 0 0 64 64" xml:space="preserve">
<g>
	<path d="M0,64h64.414L0-0.414V64z M2,55h6v-2H2v-6h4v-2H2v-6h6v-2H2v-6h4v-2H2v-6h6v-2H2V4.414L59.586,62H2V55z"/>
	<path d="M13,27.586V55h27.414L13,27.586z M15,32.414L35.586,53H15V32.414z"/>
	<path d="M64.375,46.375l-2.472-9.886L25-0.414L17.586,7l36.903,36.903L64.375,46.375z M61.625,43.625l-6.114-1.528L26.414,13
		L31,8.414l29.097,29.097L61.625,43.625z M25,2.414L29.586,7L25,11.586L20.414,7L25,2.414z"/>
</g>
</svg></a>

    </li>
    <li class="menu-item">
      <a class ="far fa-gem" href="theoryload"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 width="60px" height="70px" viewBox="-5 -5 75 64" enable-background="new 0 0 64 64" xml:space="preserve">
  <g>
  	<path d="M53.861,0H10.139l-6,40H4v24h56V40h-0.139L53.861,0z M11.861,2h40.277l5.7,38H6.161L11.861,2z M58,62H6V42h52V62z"/>
  	<path d="M48,56c2.206,0,4-1.794,4-4s-1.794-4-4-4s-4,1.794-4,4S45.794,56,48,56z M48,50c1.103,0,2,0.897,2,2s-0.897,2-2,2
  		s-2-0.897-2-2S46.897,50,48,50z"/>
  	<polygon points="31.291,11 23.291,19.146 24.706,20.634 31,14.414 31,32 33,32 33,14.414 39.292,20.707 40.705,19.146 32.705,11
  		"/>
  </g>
  </svg></a>

    </li>
    <li class="menu-item">
    <a class="fas fa-glass-cheers" href="theoryindex" ><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="55px" height="65px" viewBox="-3 -10 72 64" enable-background="new 0 0 64 64" xml:space="preserve">
<g>
	<path d="M60,40h-0.139l-6-40H10.139l-6,40H4v24h56V40z M11.861,2h40.277l5.7,38H42v1c0,5.514-4.486,10-10,10s-10-4.486-10-10v-1
		H6.161L11.861,2z M58,62H6V42h14.041C20.551,48.15,25.72,53,32,53s11.449-4.85,11.959-11H58V62z"/>
	<rect x="12" y="30" width="40" height="2"/>
	<rect x="14" y="20" width="36" height="2"/>
	<rect x="16" y="10" width="32" height="2"/>
</g>
</svg></a>
    </li>
    </ul>
    </nav>


  </body>
</html>
