<!DOCTYPE html>

<html >
<body>
  <div id="body">
    <%= javascript_include_tag "login" %>
    <%= stylesheet_link_tag 'user', media: 'all' %>
    </div>
    <div class="container1">
      <%= link_to @vk_url, class: 'btn btn-primary' do %>
        <i class="icon-home icon-white"></i>
        Войти через ВКонтакте
      <% end %>
    </div>

    
</body>
